<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>CoderStats - View Statistics for Millions of GitHub Users and Organizations</title>
<link rel="shortcut icon" href="/img/coderstats.png">
<link rel="canonical" href="http://localhost:8080/" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/compiled/style.css">
</head>
<body>
<div class="container-full main">
    <div class="brand-front">
        <img src="/img/coderstats.svg">
        <h1>CoderStats</h1>
    </div>
    <div class="box-search" id="search">
        <form class="row" @submit.prevent>
            <div class="col-12 col-7-m col-8-l col-10-xl">
                <input class="field" id="username" type="text" placeholder="GitHub user name or organization" v-model="username">
            </div>
            <div class="col-12 col-5-m col-4-l col-2-xl">
                <button @click="coder" class="button">Get Stats</button>
            </div>
        </form>
    </div>
    <div v-if="events" id="active-users" class="padb">
        <h2>Recently active users</h2>
        <div class="row">
            <user-link
                v-for="user in users.slice(0, 12)"
                v-bind:login="user.key"
                v-bind:avatar_url="user.values[0].actor.avatar_url"
            ></user-link>
        </div>
    </div>
    <div v-if="users" id="followed-users" class="padb">
        <h2>Users with many followers</h2>
        <div class="row">
            <user-link
                v-for="user in users.slice(0, 12)"
                v-bind:login="user.login"
                v-bind:avatar_url="user.avatar_url"
            ></user-link>
        </div>
    </div>
    <div v-if="users" id="most-repos-users" class="padb">
        <h2>Users with many repositories</h2>
        <div class="row">
            <user-link
                v-for="user in users.slice(0, 12)"
                v-bind:login="user.login"
                v-bind:avatar_url="user.avatar_url"
            ></user-link>
        </div>
    </div>
    <div v-if="users" id="earliest-users" class="padb">
        <h2>Users with old accounts</h2>
        <div class="row">
            <user-link
                v-for="user in users.slice(0, 12)"
                v-bind:login="user.login"
                v-bind:avatar_url="user.avatar_url"
            ></user-link>
        </div>
    </div>
</div>

<footer class="container padv">
<p><a href="/">CoderStats</a> is a free service that displays statistics for coders with public Git repositories on GitHub.<br>
<a href="https://github.com/coderstats/coderstats.net">Source Code</a> •
<a href="https://chrome.google.com/webstore/detail/necogepejonacpphmlmcagmbjaogpbng">Chrome Extension</a> • <a href="https://addons.mozilla.org/en-US/firefox/addon/coderstats/">Firefox Add-on</a> • <a href="https://teespring.com/stores/codershirts" title="T-Shirts, hoodies, mugs and stickers for coders">CoderShirts Store</a>
</footer>

<script src="//cdn.jsdelivr.net/npm/vue"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/d3-collection@1.0.7/dist/d3-collection.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/d3-array@2.2.0/dist/d3-array.min.js"></script>

<script src="/compiled/front.js"></script>
<script src="/compiled/search.js"></script>
</body>
</html>